<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
{% extends "base.html" %}

{% block content %}
    <div class="questions">
        {% for item in questions%}
            <div class="col-md6 border rounded question_card">
                <h2><a href="{{ url_for('question_page', question_id = item.id) }}">{{item.title}}</a></h2>
                <div>
                    {{item.text}}
                </div>
                <div>
                    Автор - {{item.user.name}} {{item.user.surname}}, Дата написания - {{ moment(item.created_date).format('LLL') }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}