<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
{% extends "base.html" %}

{% block content %}
    <div class="questions">
        {% for item in questions%}
            <div class="col-md6 border rounded question_card">
                <h4><a href="{{ url_for('question_page', question_id = item.id) }}">{{item.title}}</a></h4>
                <div>
                    Автор - {{item.user.name}} {{item.user.surname}},
                    {{ moment(item.created_date).fromNow(refresh=True) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}