<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/question.css')}}">
    <title>Вопрос: {{ question.title }}</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class="question-wrapper">
    <div class="question">
        <p class="user-name">
            <a href="{{ url_for('profile_page', profile_id = question.user.id) }}">
                {{ question.user.name }} {{ question.user.surname }}
            </a>, открыт {{ moment(question.created_date).fromNow(refresh=True) }}
        </p>
        <h2 class="question-title">{{ question.title }}</h2>
        <p class="question-text">{{ question.text }}</p>
    </div>
</div>
<div class="answers">
    {% set answers = question.get_answers() %}
    <div class="answer-count-wrapper">
        <div class="answer-count">
            <h5 class="counter">Ответов: {{ answers|length }}</h5>
        </div>
    </div>
    <div class="answers-block">
        {% for item in answers %}
            <div class="answer-block-wrapper">
                <div class="answer-block">
                    <p class="user-name">
                        <a href="{{ url_for('profile_page', profile_id = item.user.id) }}">
                            {{ item.user.name }} {{ item.user.surname }}
                        </a>,
                        {{ moment(item.created_date).fromNow(refresh=True) }}</p>
                    <p class="question-text">{{ item.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="answer-form">
    <h4 class="title">Ответить на вопрос</h4>
    {% if current_user %}
        {% if current_user.is_authenticated %}
            <form class="box" action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.text(type="text", autocomplete="off") }}
                {{ form.submit(type="submit") }}
                {{message}}
            </form>
        {% else %}
            <a class="answer-btn" href="{{ url_for('login') }}">Войти</a>
            <a class="answer-btn" href="{{ url_for('reqister') }}">Зарегистрироваться</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}