<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css')}}">

{% extends "base.html" %}

{% block content %}
    <form class="box" action="" method="post">
        <h1>Регистрация</h1>
        {{ form.hidden_tag() }}
        {{ form.name(type="text", placeholder=form.name.label.text) }}
        {{ form.surname(type="text", placeholder=form.surname.label.text) }}
        {{ form.age(type="text", autocomplete="off", placeholder=form.age.label.text) }}
        {{ form.email(type="text", placeholder=form.email.label.text) }}
        {{ form.password(type="password", placeholder=form.password.label.text) }}
        {{ form.password_again(type="password", placeholder=form.password_again.label.text) }}
        {{ form.submit(type="submit") }}
        {{message}}
    </form>
{% endblock %}