.question_card{
    margin-top: 20px;
    padding: 20px;
    background-color: #222;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.author{
    display: inline-block;
    margin-right: 20px;
}
.answers{
    display: inline-block;
}

.flask-moment{
    display: inline !important;
}