.profile-block, .user-questions{
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.profile-block{
    margin-bottom: 20px;
}
.profile-info{
    padding: 20px;
    display: flex;
    align-items: flex-start;
}
.profile_picture{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(150, 150, 150, 0.17);
    -moz-box-shadow:    0px 0px 15px 0px rgba(150, 150, 150, 0.17);
    box-shadow:         0px 0px 15px 0px rgba(150, 150, 150, 0.17);
}
.info{
    display: inline-flex;
    flex-flow: column;
}
.name{
    font-size: 30px;
    display: inline;
    margin: 0;
}
.email{
    font-size: 17px;
    display: inline;
}

.info-update:before{
    content: '';
    display: block;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0px
}

.box{
  width: 100%;
  background: #191919;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.box input[type = "text"],.box input[type = "password"],.box textarea[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 7px 5px;
  width: 300px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 380px;
  border-color: #2ecc71;
}

.input-file{
    display: none;
}
.load-avatar-btn .btn-tertiary{
    color:#FFF;
    padding:0;
    line-height:40px;
    width:300px;
    margin:auto;
    display:block;
    border:2px solid #3498db;
    border-radius: 24px;
    }
.load-avatar-btn .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
    color:#FFF;
    border-color:#2ecc71;
    transition: 0.25s;
}
.load-avatar-btn .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.load-avatar-btn .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.load-avatar-btn .input-file + .js-labelFile .icon:before{
content:"\f093"
}
.load-avatar-btn .input-file + .js-labelFile.has-file .icon:before{
content:"\f00c";color:#FFF
}



.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto 0px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 20px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #191919 !important; /* Цвет фона */
    -webkit-text-fill-color: #fff !important; /* цвет текста */
    color: #fff !important; /* цвет текста */
}



.user-questions{
    margin-bottom: 15px;
}
.question-count {
    padding: 20px 15px;
}
.counter {
    margin: 0;
}
.question-block-wrapper:after, .question-block-wrapper:first-child:before {
    content: '';
    display: block;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0px
}
.question-block-wrapper:last-child:after {
    content: none;
}
.question-block{
    padding: 20px 15px;
}

.question-title{
    font-size: 20px;
}
.created_time{
    display: inline;
    margin-right: 20px
}
.answers{
    display: inline;
}
.answer-icon{
    color: #3498db;
}
